.container{
    z-index: 0;
    width: 85%;
    height: 100%;
    /* position: absolute;
    top: -10%;
    right: 0px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: aquamarine;
    background-size: contain; */
    /* background-color: cadetblue; */
    position: absolute;
    top: -25%;
    right: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.banner{
    width: 100%;
    aspect-ratio: 1;
}