.container{
    background: url(/public/images/farm-worker-driving-tractor-spraying-green-meadow-generated-by-ai.jpg);
    z-index: 5;
    width: 40%;
    height: calc(100% + 50px);
    position: absolute;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: right;
    /* background-color: aquamarine; */
    background-size: contain;
    background-blend-mode: overlay;
}
