.container{
    display: flex;
    padding: 0 35px;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(127, 255, 212, 0.324); */
    z-index: 2;
}

.searchBar{
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    position: relative;
}

.searchBarInput{
    min-width: 40%;
    padding: 0 20px;
    outline: none;
    border: none;
    /* box-shadow: 0 0 5px rgb(134, 134, 134); */
    border-top: 1px solid rgb(168, 168, 168);
    border-left: 1px solid rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    box-shadow: 0 0 5px rgb(168, 168, 168);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
    font-size: 1rem;
}

.searchButton{
    min-width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 5px rgb(134, 134, 134); */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 8px;
    cursor: pointer;
    z-index: 2;
    padding: 0 10px;
}

.searchButtonText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.tagline{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    max-width: 60%;
    text-wrap: wrap;
    font-weight: 800;
    margin-bottom: 30px;
}

.descripton{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    max-width: 60%;
    font-weight: 500;
    text-wrap: wrap;
}

.highlightedText{
    font-size: 1.4rem;
}

@media (max-width: 1024px){
    .tagline{
        font-size: 2rem;
    }
    .descripton{
        font-size: 1rem;
    }
    .highlightedText{
        font-size: 1.2rem;
    }
    .searchButtonText{
        font-size: 0.85rem;
    }
    .searchBar{
        height: 40px;
    }
    .searchBarInput{
        font-size: 0.85rem;
    }
}

@media (max-width: 768px){
    .tagline{
        font-size: 1.5rem;
    }
    .descripton{
        font-size: 0.8rem;
    }
    .highlightedText{
        font-size: 1rem;
    }
    .searchButtonText{
        font-size: 0.75rem;
    }
    .searchBar{
        height: 35px;
    }
    .searchBarInput{
        font-size: 0.75rem;
    }
}

@media (max-width: 600px){
    .searchButtonText{
        font-size: 0.65rem;
    }
    .searchBarInput{
        font-size: 0.65rem;
    }
    .tagline{
        max-width: 100%;
    }
    .descripton{
        max-width: 100%;
    }
    .searchBarInput{
        min-width: 75%;
    }
    .searchButton{
        min-width: 20%;
    }
}
